/*Common Styles*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    list-style-type:none;
    font-family: 'Bitter', serif;
   
   

}
/*end of common styles*/
html{
    font-size: 100%;
    scroll-behavior: smooth;
    }

/*Nav bar*/
nav{
 
    width:100%;
    height:4rem;
    background-color:rgb(87, 131, 148);
    
    overflow-x: hidden;
    overflow-y: hidden;
}

nav .navContent{
    display:flex;
   
   padding-top: 1rem;
 
    align-items: center ;
    margin:0 10%;
}
.navContent .navMenu span{
    margin-left: .5rem;
 

}

nav .navContent .signinArea img{
    width:2.5rem;
    border-radius: 50%;
}

.signinArea{
    display:flex;   
    align-items: center ;
   
}
.navContent .navCompanyHeading{
    font-family: 'Montserrat','Bitter', serif;
    color:white;
   font-size: 1.5rem;
  font-weight: bold;
 
}




.navContent .inputText input[type="text"]{
    background-color:white;
    border: none;
    border-radius: 2rem;
    width:45rem;
    padding-left: 1.5rem;
 
     line-height: 2rem;

    
    
    cursor: pointer;
}

.navContent .navItems{
    margin-right: 2rem;
    color:white;
    cursor: pointer;
}

.navContent .shoppingCart i{
    margin-left: 1rem;
}

.navContent .signinArea .buy p{
    font-size: .8rem;
    font-weight: bold;
}

.navContent .signinArea img{
    position:relative;
    top:.5rem;
    margin-right: 1rem;
   
}


.navContent .signinArea .firstBuySpan{
    position:relative;
    bottom:.5rem;
    right:.3rem

}
.navContent .signinArea .secondBuySpan{
    position:relative;
    bottom:.5rem;
    left:3.3rem;

}


.navContent .signin{
    font-size: .8rem;
    padding-right: .7rem;
    

}


.navContent .signin .signUpSpan{
    position:relative;
    left:.7rem

}

/*End of navbar*/

/*second navbar*/

.secondnavBar{
    background-color: rgb(131, 85, 102);
    width:100%;
    height:3rem;
    text-align: center;
    padding:1rem 0
   
}
.secondnavBar p{
    color:white;
    font-family:'Montserrat','Bitter', serif ;
   
 
}

/*End of secondnavbar*/
/*section1*/

.firstBackground{
    width:100%;
    height:30rem;
   background-image: url(pictures/cellularPicture.jpg);

background-position: center;
}
.section1 .firstBackground{
    color:white;
    display:flex;
    flex-direction: column;
   align-items: center;
}

.section1 .firstBackground h1{
    font-size: 4rem;
    font-weight:bold;
    margin-top: 3rem;
    
}

.section1 .firstBackground button{
    background-color: rgb(51, 99, 99);
    border:none;
    border-radius: 2rem;
    width:10rem;
    line-height: 2rem;
    margin-top: 3rem;
    color:white;
    cursor:pointer;
}

.section1 .firstBackground button:hover{
    background-color: rgb(122, 29, 42);
    text-transform: uppercase;
}


/*end of section1*/

/*......................................start of section2*......................*/

.gridContainer{
    width:100%;
    padding:2rem 15%;
  display:grid;
  grid-gap: 1rem;
  
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));


}

.section2 .gridContainer .grid{
width:20rem;
height:10rem;
}


.section2 .gridContainer .grid img{
    width:100%;
    height:100%;
    
}

.section2 .gridContainer .promotionGrid, .membersGrid{
    position:relative;

}

.section2 .gridContainer .membersGrid{
    position:relative;
}
.section2 .gridContainer .waffleGrid{
    position:relative;
}
.section2 .gridContainer .waterLilly{
    position:relative;
    
}

.section2 .gridContainer .button{
   width:70%;
   height: 3rem;
   border:none;
   border-radius: 1.5rem;
   color:white;
   background-color:rgb(51, 99, 99)
  
   
   
}
.section2 .gridContainer .button1{
    position:absolute;
    bottom:2rem;
    left:20%;
   
}

.section2 .gridContainer .button2{
    position:absolute;
    bottom:2rem;
    left:20%;
   
}

.section2 .gridContainer .button22{
    
    position:absolute; 
   
    left:0;
    top: 0;
    width:60%;
   height: 1.5rem;
   border:none;
   
   color:white;
   background-color:rgb(51, 99, 99)
    
   
}

.section2 .gridContainer .button3{
    position:absolute;
    bottom:2rem;
    left:20%;
   
}

.section2 .gridContainer .button4{
    position:absolute;
    bottom:2rem;
    left:20%;
   
}


/*......................................end of section2*......................*/

